<tr>
  <td>
    <% if book.is_has_cover %>
      <%= link_to image_tag(book.get_thumbnail, :width => 50), book_path(book) %>
    <% else %>
      <%= link_to image_tag('no_icon.gif', :width => 50), book_path(book) %>
    <% end %>
  </td>
  <td>
    <h9><%= book.get_title %></h9>
    <p class="muted">
      by
      <%= book.authors.collect{|author| author.name}.to_sentence %>
      <% data_id = 0 %>
      <% book.datum.each_with_index do |data, data_id| %>
        <%= link_to 'Get '+data.format, download_book_path(book, :data_id => data_id), :method => :get, :class => 'btn btn-mini btn-success' %>
      <% end %>
    </p>
  </td>
<tr>