<%- model_class = Book -%>
<% if @books.size <= 0 %>
  <h3>Couldn't find what you are looking for.<h3>Maybe try a different search.
<% else %>
  <p>Found <%= @books.size %> books</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="100px"/>
        <th />
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>
            <% if book.has_cover %>
              <%= link_to image_tag(book.get_thumbnail, :width => 120), book_path(book) %>
            <% end %>
          </td>
          <td>
            <p>
              <h4><%= book.get_title %></h4>
              by
              <% book.authors.each do |author| %>
                <%= link_to author.name, author_path(author) %>&nbsp;|&nbsp;
              <% end %>
              <%= link_to 'Download', download_book_path(book), :method => :get, :class => 'btn btn-mini btn-success' %><br />
            </p>

            <%= truncate(book.get_summary, :length => 300, :separator => ' ') %>
          </td>
        <tr>
      <% end %>
    </tbody>
  </table>
<% end %>