<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @book.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sort) %>:</strong></dt>
  <dd><%= @book.sort %></dd>
  <dt><strong><%= model_class.human_attribute_name(:timestamp) %>:</strong></dt>
  <dd><%= @book.timestamp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pubdate) %>:</strong></dt>
  <dd><%= @book.pubdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:series_index) %>:</strong></dt>
  <dd><%= @book.series_index %></dd>
  <dt><strong><%= model_class.human_attribute_name(:author_sort) %>:</strong></dt>
  <dd><%= @book.author_sort %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></dt>
  <dd><%= @book.isbn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lccn) %>:</strong></dt>
  <dd><%= @book.lccn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:path) %>:</strong></dt>
  <dd><%= @book.path %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flags) %>:</strong></dt>
  <dd><%= @book.flags %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uuid) %>:</strong></dt>
  <dd><%= @book.uuid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:has_cover) %>:</strong></dt>
  <dd><%= @book.has_cover %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_modified) %>:</strong></dt>
  <dd><%= @book.last_modified %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              books_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_book_path(@book), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              book_path(@book),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
